{% extends "layouts/layout.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2><b>LET'S START SOMETHING</b></h2>
            </b>
            <p>I am a programmer and always a learner. Getting my hands dirty is the best way to learn how to solve real-world problems and train myself to be a qualified software engineer. Meanwhile, the fundamental theorems of computer science help me learn new things. Therefore, I am keeping studying in order to solve problems that I am facing or I may face in the future.</p>
            <p>The website is used to share some interesting project I have done. Hope everyone can enjoy my projects.</p>
        </div>
    </div>
</div>
<hr>
{% endblock %}
