{% extends "layouts/layout.html" %}
{% block title %}Playground{% endblock %}

{% block head %}
    <style>
        #mapcontainer {
            display: inline-block;
            margin: 0 auto; 
            background: white; 
            position: relative; 
            border: 10px solid grey; 
            border-radius: 10px; 
            line-height: 0;
        }

        #mapcanvas { position:relative; z-index:20; }
    </style>
{% endblock %}

{% block content %}
<div id="map" class="container" style="text-align: center;">
    <div class="row">
        <div class="mx-auto">
            <div id="mapcontainer">
                <img id="mapimg" style="position:absolute; z-index:1; max-width:100%;" src={{ url_for('static', filename="img/usamap.gif") }}/>
                <canvas id="mapcanvas"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="mx-auto">

            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/catchasesmouse/catchasesmouse.html">
                    <h2 class="post-title"> Cat chases Mouse </h2>
                </a>
                <p class="post-subtitle">
                    All you need to do is moving your mouse.<br>
                    <br>
                    Control:<br>C : Increase Arrow Number<br>X : Decrease Arrow Number
                </p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on April 12, 2018 </p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/WAVingS/WAVingS.html">
                    <h2 class="post-title"> WAVingS </h2>
                    <p class="post-subtitle">
                        This is a game that you have to avoid falling down on the ocean.<br>
                        The more distance you walk through, the more score you get.<br>
                        Beware: the game will get harder and harder!!!<br>
                        <br>
                        Control:<br>W, K, ↑ : moving up<br>S, J, ↓ : moving down<br>A, H, ← : moving left<br>D, L, → : moving right
                    </p>
                </a>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a>, <a href="https://github.com/Aoi-K">Aoi</a>, <a href="https://github.com/GuanYangCLU">Guan</a>, & <a href="https://github.com/s777610">WEI-CHENG HUNG</a> on March 18, 2018 </p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="https://firstglory.github.io/40/hi">
                    <h2 class="post-title"> Friendly Dungeon </h2>
                </a>
                <p class="post-subtitle">
                    You woke up and found yourself locked in a dungeon.<br>
                    There are coins around you, but picking them up slows you down.<br>
                    You can also trade coins for keys, which open doors.<br>
                    Beware: the dungeon can turn wild.<br>
                    <br>
                    Control:<br>W, ↑ : moving up<br>S, ↓ : moving down<br>A, ← : moving left<br>D, → : moving right
                </p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a>, & <a> Dawn</a> on December 5, 2017 </p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="https://firstglory.github.io/home.html">
                    <h2 class="post-title"> Across the Ancient </h2>
                </a>
                <p class="post-subtitle">
                    You accidentally went to a small desert island.<br>
                    You have to find a way to escape the island.<br>
                    Finally, you will find the island is not just a desert island you thought before.<br>
                    <br>
                    Control:<br>↑ : moving up<br>↓ : moving down<br>← : moving left<br>→ : moving right<br>Q : changing to left tool<br>E: changing to right tool
                </p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a>, <a>Dawn</a>, & <a>Pei</a> on April 24, 2017 </p>
            </div>

            <!-- Pager -->
            <!-- <div class="clearfix"> -->
            <!--     <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> -->
            <!-- </div> -->
        </div>
    </div>
</div>

<script src={{ url_for('static', filename="js/usamap.js") }} ></script>
{% endblock %}
