{% extends "layouts/layout.html" %}
{% block title %}resume{% endblock %}
{% block head %}
<link rel="stylesheet" href={{ url_for('static', filename="css/resume.css") }} >
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- Begin 1st Row -->
            <div class="entry">
                <h2>EDUCATION</h2>
                <div class="content">
                    <h3>Feb. 2017 — Feb. 2019</h3>
                    <p>California Lutheran University, Thousand Oaks, CA
                    <em>Master of Science in Information Technology</em></p>
                </div>
                <div class="content">
                    <h3>Sep. 2012 — June 2014</h3>
                    <p>National Taiwan University, Taipei, Taiwan
                    <em>Master of Science in Photonics and Optoelectronics</em></p>
                </div>
                <div class="content">
                    <h3>Sep. 2008 — June 2012</h3>
                    <p>National Sun Yat-sen University, Kaohsiung, Taiwan
                    <em>Bachelor of Science in Photonics</em></p>
                </div>
            </div>
            <!-- End 1st Row -->

            <!-- Begin 2nd Row -->
            <div class="entry">
                <h2>WORK</h2>
                <div class="content">
                    <h3>Feb. 2018 — Present</h3>
                    <p>Software Engineer Intern
                    <em>TAP Series, Westlake Village, CA</em></p>
                    <ul class="info">
                        <li> Work on development and design of websites</li>
                        <li> Assist with testing of websites</li>
                    </ul>
                </div>
            </div>
            <!-- End 2nd Row -->

            <!-- Begin 3rd Row -->
            <div class="entry">
                <h2>PROJECT</h2>
                <div class="content">
                    <h3>Feb. 2018 — Feb. 2018</h3>
                    <p>2018 Global Game Jam</p>
                    <ul class="info">
                        <li> Created a 3D puzzle game utilizing Unity</li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Apr. 2017 — Dec. 2017</h3>
                    <p>Ludum Dare 38, 40 JAM</p>
                    <ul class="info">
                        <li> Created a web-based game utilizing JavaScript and HTML5 Canvas</li>
                        <li> <a class="resume" href="https://ldjam.com/events/ludum-dare/40/friendly-dungeon">Friendly Dungeon</a></li>
                        <li> <a class="resume" href="https://ldjam.com/events/ludum-dare/38/across-the-ancient">Across the Ancient</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Oct. 2017 — Nov. 2017</h3>
                    <p>iterm2-website</p>
                    <ul class="info">
                        <li> <a class="resume" href="https://github.com/gnachman/iterm2-website/blob/master/source/utilities/imgcat">Added online images preview feature in iterm2 by shell script</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>June 2017 — July 2017</h3>
                    <p>Cipher & Decipher System</p>
                    <ul class="info">
                        <li> Utilized Flask, a microframework for Python, to build backend</li>
                    </ul>
                </div>
                <div class="content">
                    <h3>May 2017 — May 2017</h3>
                    <p>Sublime Text Plugin</p>
                    <ul class="info">
                        <li> <a class="resume" href="https://github.com/ShuaiHsunLee/sublime-cursor-movement">Made a plugin for Sublime Text to quickly select and move cursor</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Apr. 2016 — May 2016</h3>
                    <p>Electric Skateboard Prototpye</p>
                    <ul class="info">
                        <li> <a class="resume" href={{ url_for('static', filename="resume/images/skate.jpg")}} rel="gallery" title="Lorem ipsum dolor sit amet.">Utilized Arduino with electric components to build a wireless control skateboard</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Sep. 2012 — June 2014</h3>
                    <p>Electricmagnetic Wave Simulation</p>
                    <ul class="info">
                        <li> Analyzed the efficiency of special shape of CPML eliminating electromagnetic wave by Matlab</li>
                        <li> Implemented FDTD to simulate Surface Plasmon Polaritons by Matlab</li>
                    </ul>
                </div>
            </div>
            <!-- End 3rd Row -->

            <!-- Begin 4th Row -->
            <div class="entry">
                <h2>ACTIVITY</h2>
                <div class="content">
                    <h3>Mar. 2018</h3>
                    <p><a class="resume" href="https://sfhacks2018.hackerearth.com/sprints/sf-hacks-3/dashboard/ff94d6a/submission/">Major League Hacking, SF Hacks 2018</a></p>
                    <ul class="info">
                        <li> Game development by Python with Pygame</li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Feb. 2018</h3>
                    <p>CLU IT Club</p>
                    <ul class="info">
                        <li> Led a presentation of an introduction to Python for 10 people</li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Feb. 2018</h3>
                    <p>Major League Hacking Volunteer, Cal Poly Pomona</p>
                </div>
                <div class="content">
                    <h3>Dec. 2017</h3>
                    <p>Data Science SALON Conference Volunteer, Los Angeles</p>
                </div>
                <div class="content">
                    <h3>Feb. 2013</h3>
                    <p>Optics Photonics Taiwan, the International Conference (OPTIC) 2013</p>
                </div>
            </div>
            <!-- End 4th Row -->

            <!-- Begin 5th Row -->
            <div class="entry">
                <h2>Certificates</h2>
                <div class="content">
                    <h3>Dec. 2016</h3>
                    <p><a class="resume" href="https://www.coursera.org/account/accomplishments/verify/PQWR53D54GKQ">Machine Learning</a>
                    <em>Machine Learning by Stanford University on Coursera. Certificate earned at Saturday, December 17, 2016 5:19 AM GMT</em></p>
                </div>
                <div class="content">
                    <h3>July 2016</h3>
                    <p><a class="resume" href="https://www.coursera.org/account/accomplishments/verify/KPBUS7F5V2LX">Data Structure</a>
                    <em>Data Structures by University of California, San Diego & National Research University Higher School of Economics on Coursera. Certificate earned at Wednesday, July 13, 2016 8:53 AM GMT</em></p>
                </div>
                <div class="content">
                    <h3>June 2016</h3>
                    <p><a class="resume" href="https://www.coursera.org/account/accomplishments/verify/D73TDVQ52DUR">Algorithmic Toolbox</a>
                    <em>Algorithmic Toolbox by University of California, San Diego & National Research University Higher School of Economics on Coursera. Certificate earned at Sunday, June 26, 2016 6:22 AM GMT</em></p>
                </div>
            </div>
            <!-- End 5th Row -->

            <hr style="box-sizing: content-box; height: 0; overflow: visible;"/>
        </div>
    </div>
</div>
{% endblock %}
