{% extends "layouts/layout.html" %}
{% block title %}Streaming{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<style>
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
</style>
{% endblock %}

{% block content %}
<h1>Video Streaming Demonstration</h1>
<img src="{{ url_for('video_feed') }}">
{% endblock %}
