{% extends "layouts/layout.html" %}
{% block title %}Tutorial{% endblock %}

{% block head %}
<style>
li.category {
	padding: 10px;
}

a.category {
	color: green;
}
</style>
{% endblock %}

{% block content %}
<h1 id="Algorithm" style="text-align: center; margin-top: 30px;">Algorithm</h1>
<div id="Algorithm" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://www.youtube.com/watch?v=YeEgWSbnVGA">
                    <h2 class="post-title">Calculate Fibonacci number</h2>
                </a>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YeEgWSbnVGA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p class="post-subtitle"></p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on Apr 5, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
            <div class="post-preview">
                <a href="https://www.youtube.com/watch?v=rQlDu3hY2Yc">
                    <h2 class="post-title">Implement two Stacks as one Queue</h2>
                </a>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rQlDu3hY2Yc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p class="post-subtitle"></p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on Apr 5, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
        </div>
    </div>
<hr>
</div>

<h1 id="Ranger" style="text-align: center; margin-top: 30px;">Ranger</h1>
<div id="Ranger" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Ranger/lesson1.html?transition=convex#/transitions">
                    <h2 class="post-title">Ranger - Lesson 1</h2>
                </a>
                <p class="post-subtitle">Ranger, a file system management, is what you don't want to miss.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 22, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
        </div>

        <div class="col-sm">
        </div>
    </div>
<hr>
</div>

<h1 id="Python" style="text-align: center; margin-top: 30px;">Python</h1>
<div id="Python" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Python/lesson1.html?transition=convex#/transitions">
                    <h2 class="post-title">Python - Lesson 1</h2>
                </a>
                <p class="post-subtitle">Python is one of my favorite programming language because of it's design. Let me introduce to Python.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 23, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
        </div>

        <div class="col-sm">
        </div>
    </div>
<hr>
</div>

<h1 id="tmux" style="text-align: center; margin-top: 30px;">tmux</h1>
<div id="tmux" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/tmux/lesson1.html?transition=convex#/transitions">
                    <h2 class="post-title">tmux - Lesson 1</h2>
                </a>
                <p class="post-subtitle">tmux is a terminal multiplexer which makes my life better.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 21, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
        </div>

        <div class="col-sm">
        </div>
    </div>
<hr>
</div>

<h1 id="Vim" style="text-align: center; margin-top: 30px;">Vim</h1>
<div id="Vim" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Vim/lesson1.html?transition=convex#/transitions">
                    <h2 class="post-title">Vim - Lesson 1</h2>
                </a>
                <p class="post-subtitle">Have an introduction to Vim. Briefly discussion about each mode in Vim.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 09, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Vim/lesson2.html?transition=convex#/transitions">
                    <h2 class="post-title">Vim - Lesson 2</h2>
                </a>
                <p class="post-subtitle">Introduce normal mode in Vim. Spend time admiring Vim's elegance.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 15, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Vim/lesson3.html?transition=convex#/transitions">
                    <h2 class="post-title">Vim - Lesson 3</h2>
                </a>
                <p class="post-subtitle">It's worth spending more time on Normal Mode.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 16, 2018 </p>
            </div>
        </div>
    </div>
</div>
<div id="Vim" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Vim/lesson4.html?transition=convex#/transitions">
                    <h2 class="post-title">Vim - Lesson 4</h2>
                </a>
                <p class="post-subtitle">It's time to learn more Command Mode and Insert Mode</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 17, 2018 </p>
            </div>
        </div>

        <div class="col-sm">
        </div>

        <div class="col-sm">
        </div>
    </div>
<hr>
</div>

{% endblock %}

{% block widget %}
<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li class="category">
                <a id="AlgorithmButton" class="category" href="#">&#8227; Algorithm</a>
            </li>
            <li class="category">
                <a id="RangerButton" class="category" href="#">&#8227; Ranger</a>
            </li>
            <li class="category">
                <a id="PythonButton" class="category" href="#">&#8227; Python</a>
            </li>
            <li class="category">
                <a id="tmuxButton" class="category" href="#">&#8227; tmux</a>
            </li>
            <li class="category">
                <a id="VimButton" class="category" href="#">&#8227; Vim</a>
            </li>
            <li class="category">
                <a id="AllButton" class="category" href="#">&#8227; All</a>
            </li>
        </ul>
    </div>
</div>

<!-- Side Widget -->
<div style="text-align: center;">
    <img class="rounded-circle" src={{ url_for('static', filename="img/Victor.jpg") }} alt="Avatar">
</div>
<div class="card my-4">
    <h5 class="card-header" style="font-size: 20px;">Contact Me</h5>
    <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
        <form name="sentMessage" id="contactForm" novalidate method="post">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                    <p id="nameresult"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                    <p id="emailresult"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Message</label>
                    <textarea rows="5" name="message" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                    <p id="messageresult"></p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendValidate">Send</button>
            </div>
        </form>
    </div>
</div>
<!-- Side Widget -->

<script>
    $(document).ready(function() {
        // color reset
        $("a.category").click(function() {
            $("a.category").css('color', 'green');
        });

        $("#AlgorithmButton").click(function() {
            $("*.container").hide();
            $("h1").hide();
            $("#navigation.container").show();
            $("#insider.container").show();
            $("#footer.container").show();
            $("#Algorithm.container").show();
            $("h1#Algorithm").show();
			$("#AlgorithmButton").css('color', 'red')
        });

        $("#RangerButton").click(function() {
            $("*.container").hide();
            $("h1").hide();
            $("#navigation.container").show();
            $("#insider.container").show();
            $("#footer.container").show();
            $("#Ranger.container").show();
            $("h1#Ranger").show();
			$("#RangerButton").css('color', 'red')
        });

        $("#PythonButton").click(function() {
            $("*.container").hide();
            $("h1").hide();
            $("#navigation.container").show();
            $("#insider.container").show();
            $("#footer.container").show();
            $("#Python.container").show();
            $("h1#Python").show();
			$("#PythonButton").css('color', 'red')
        });

        $("#tmuxButton").click(function() {
            $("*.container").hide();
            $("h1").hide();
            $("#navigation.container").show();
            $("#insider.container").show();
            $("#footer.container").show();
            $("#tmux.container").show();
            $("h1#tmux").show();
			$("#tmuxButton").css('color', 'red')
        });

        $("#VimButton").click(function() {
            $("*.container").hide();
            $("h1").hide();
            $("#navigation.container").show();
            $("#insider.container").show();
            $("#footer.container").show();
            $("#Vim.container").show();
            $("h1#Vim").show();
			$("#VimButton").css('color', 'red')
        });

        $("#AllButton").click(function() {
            $(".container").show();
            $("h1").show();
			$("#AllButton").css('color', 'red')
        });

    });
</script>
{% endblock %}
