{% extends "layouts/layout.html" %}
{% block title %}Tutorial{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mx-auto">

            <div class="post-preview">
                <a href="https://shuaihsunlee.github.io/Vim/lesson1.html?transition=convex#/transitions">
                    <h2 class="post-title">Vim tutorial</h2>
                </a>
                <p class="post-subtitle">The first Lesson for vim.</p>
                <p class="post-meta"> Posted by <a href="https://www.linkedin.com/in/shuaihsunlee">Victor Lee</a> on May 09, 2018 </p>
            </div>
            <hr>

        </div>
    </div>
</div>
{% endblock %}

{% block widget %}
<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li>
                <a href="#">Algorithm</a>
            </li>
            <li>
                <a href="#">Command Line</a>
            </li>
            <li>
                <a href="#">Machine Learning</a>
            </li>
            <li>
                <a href="#">Python</a>
            </li>
            <li>
                <a href="#">Vim</a>
            </li>
        </ul>
    </div>
</div>

<!-- Side Widget -->
<div class="card my-4">
    <h5 class="card-header">Contact Me</h5>
    <div class="card-body">
        <form name="sentMessage" id="contactForm" novalidate method="post">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                    <p id="nameresult"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                    <p id="emailresult"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Message</label>
                    <textarea rows="5" name="message" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                    <p id="messageresult"></p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendValidate">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
