{% extends "layouts/layout.html" %}
{% block title %}video{% endblock %}
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="text-align:center;">
                <h2>Calculate Fibonacci number</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YeEgWSbnVGA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</article>
<hr>

<article>
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="text-align:center;">
                <h2>Implement two Stacks as one Queue</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rQlDu3hY2Yc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</article>
<hr>
{% endblock %}
