h3.resume {
	text-align: right;
	float: right;
	padding: 0;
	clear: both;
	font-size: 17px;
	color: #7b90b5;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
}

h2.resume {
    text-align: right;
    float: right;
    padding: 0;
    margin-top: 17px;
    clear: both;
    font-size: 17px;
    color: #1b4491;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

p.resume {
	font-size: 17px;
	text-align: left;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

li.resume {
	font-size: 17px;
	text-align: left;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

em.resume {
	font-style: italic;
	color: #777777;
	font-size: 17px;
	display: block;
	text-align: left;
    font-family: "Times New Roman", Times, serif;
}

div.col-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

div.col-8 {
    margin-top: 4px;
    margin-bottom: 4px;
}
